<div class="body flex-grow-1" data-controller="statistics">
  <div class="container-lg px-4">
    <div class="row g-4 mb-4">
      <div class="col-sm-6 col-xl-3">
        <div class="card text-white bg-primary">
          <div class="card-body pb-0 d-flex justify-content-between align-items-start">
            <div>
              <div class="fs-4 fw-semibold" id="weekly-statistic-patients">
              </div>
              <div>
                <%= t 'admin.statistics.weekly_statistic_patient' %>
              </div>
            </div>
          </div>
          <div class="c-chart-wrapper mt-3 mx-3" style="height:80px;" >
            <canvas class="chart"
                    id="weekly-statistic-patients-chart"
                    data-action="statistics#loadWeeklyGrownPatientChart"
                    height="80">
            </canvas>
          </div>
        </div>
      </div>
      <!-- /.col-->
      <div class="col-sm-6 col-xl-3">
        <div class="card text-white bg-info">
          <div class="card-body pb-0 d-flex justify-content-between align-items-start">
            <div>
              <div class="fs-4 fw-semibold" id="weekly-statistic-appointments"></div>
              <div>
                <%= t 'admin.statistics.weekly_statistic_appointment' %>
              </div>
            </div>
          </div>
          <div class="c-chart-wrapper mt-3 mx-3" style="height:80px;">
            <canvas class="chart"
                    id="weekly-statistic-appointments-chart"
                    data-action="statistics#loadWeeklyGrownAppointmentChart"
                    height="80"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row-->
    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <h4 class="card-title mb-0">
              <%= t 'admin.statistic.monthly_statistic' %>
            </h4>
            <div class="small text-body-secondary" id="secondary-text"></div>
          </div>
        </div>
        <div class="c-chart-wrapper" style="height:300px;margin-top:40px;">
          <canvas class="chart"
                  id="monthly-chart"
                  height="300"
                  data-action="statistics#loadMonthlyChart"
                  data-statistics-target="monthlyChart"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 row-cols-xl-5 g-4 mb-2 text-center">
          <div class="col">
            <div class="text-body-secondary">
              <%= Patient.model_name.human(count: 2) %>
            </div>
            <div class="fw-semibold text-truncate" id="patients-total-month"></div>
          </div>
          <div class="col d-none d-xl-block">
            <div class="text-body-secondary">
              <%= Appointment.model_name.human(count: 2) %>
            </div>
            <div class="fw-semibold text-truncate" id="appointments-total-month"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
