<!DOCTYPE html>
<html>
  <head>
    <title>HomemadeBakery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Homemade Bakery - Admin">
    <meta name="author" content="Guilherme Caixeta">
    <meta name="keyword" content="Management,Recipe,Dashboard">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "backoffice", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "backoffice" %>
  </head>
  <body>
    <div class="wrapper d-flex flex-column min-vh-100">
      <%= render partial: "shared/backoffice/alerts" %>
      <%= render partial: "shared/backoffice/sidebar" %>
      <main class="wrapper d-flex flex-column min-vh-100">
        <%= render partial: "shared/backoffice/header" %>
        <%= yield %>
        <%= render partial: "shared/backoffice/footer" %>
      </main>
    </div>
  </body>
</html>
